<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Resource</title>
    <script src="/js/script.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        #upload-outer {
            width: 40%;
            margin: 10vh auto 50px auto;
            padding: 50px;
            border: 1px solid grey;
            border-radius: 10px;
        }

        #upload {
            width: 80%;
            margin: auto;
            margin-top: 30px;
        }

        .upload-header {
            border-bottom: 1px solid rgb(177, 177, 177);
        }

        .center-align-button,
        .upload-header {
            text-align: center;
        }

        @media screen and (max-width : 1000px) {
            #upload-outer {
                width: 60%;
            }
        }
        @media screen and (max-width : 800px) {
            #upload-outer {
                width: 70%;
            }
        }
        @media screen and (max-width : 600px) {
            #upload-outer {
                width: 80%;
            }
        }
        
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg border-bottom border-body" style="padding: 10px;">
        <div class="container-fluid">
            <img src="/images/Logo.png" alt="Logo" height="60px" width="220px">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav" style="margin-left: auto;">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/resources">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <%= user.name %>
                        </a>
                        <ul class="dropdown-menu">
                            <% if (user.userType=="ADMIN" ) { %>
                                <li>
                                    <p class="dropdown-item disabled">ADMIN</p>
                                </li>
                                <% } %>
                                    <% if (user.userType=="CUSTOMER" ) { %>
                                        <li><a class="dropdown-item" href="/profile">Profile</a></li>
                                        <% } %>
                                            <li><a class="dropdown-item" onclick="logout()"
                                                    style="cursor:pointer;">Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="alert alert-success alert-dismissible fade show" role="alert" id="message"
        style="display: none; text-align: center; width: 80%; margin: auto; margin-top: 20px ">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="warning"
        style="display: none; text-align: center; width: 80%; margin: auto; margin-top: 20px">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="error"
        style="display: none; text-align: center; width: 80%; margin: auto; margin-top: 20px">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div id="upload-outer">
        <div class="upload-header">
            <% if (user.userType=="CUSTOMER" ) { %>
                <h4>Contribute Resource</h4>
                <% } %>
                    <% if (user.userType=="ADMIN" ) { %>
                        <h4>Add Resource</h4>
                        <% } %>
        </div>
        <div id="upload">
            <form action="/upload" method="post" enctype="multipart/form-data" id="uploadForm">
                <div class="mb-3"><label for="subject_code" class="form-label">Subject Code</label>
                    <input type="text" id="subject_code" name="subject_code" class="form-control"
                        style="border: 1px solid grey;">
                </div>
                <div class="mb-3"><label for="subject_name" class="form-label">Subject Name: </label>
                    <input type="text" id="subject_name" name="subject_name" class="form-control"
                        style="border: 1px solid grey;">
                </div>
                <div class="mb-3"><label for="file_name" class="form-label">File Name: </label>
                    <input type="text" id="file_name" name="file_name" class="form-control"
                        style="border: 1px solid grey;">
                </div>
                <div class="mb-3"><label for="description" class="form-label">Description</label>
                    <input type="text" id="description" name="description" class="form-control"
                        style="border: 1px solid grey;">
                </div>
                <div class="mb-3"><input type="file" id="fileInput" name="fileInput" class="form-control"
                        style="border: 1px solid grey;">
                </div>

                <div class="center-align-button" style="margin-top: 40px;">
                    <button type="submit" class="btn btn-dark">Upload</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        document.getElementById("uploadForm").addEventListener("submit", async function (event) {
            event.preventDefault();
            const formData = new FormData(event.target)
            try {
                const response = await fetch("/upload", {
                    method: "POST",
                    body: formData
                })
                if (response.ok) {
                    const data = await response.json()
                    sessionStorage.setItem('message', data.message);
                    window.location.href = data.redirectTo;
                } else {
                    const data = await response.json()
                    sessionStorage.setItem('error', data.error);
                    window.location.href = data.redirectTo
                }
            } catch (error) {
                console.log(error)
            }
        })
        const message = sessionStorage.getItem('message');
        if (message) {
            document.getElementById('message').style.display = "block";
            document.getElementById('message').textContent = message;
            sessionStorage.removeItem('message');
        }
        const warning = sessionStorage.getItem('warning');
        if (warning) {
            document.getElementById('warning').style.display = "block";
            document.getElementById('warning').textContent = warning;
            sessionStorage.removeItem('warning');
        }
        const error = sessionStorage.getItem('error');
        if (error) {
            document.getElementById('error').style.display = "block";
            document.getElementById('error').textContent = error;
            sessionStorage.removeItem('error');
        }
    </script>
</body>

</html>