<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes Website</title>
    <script src="/js/script.js"></script>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .resourcesContent {
            margin: 5%;
            width: 60%;
            border-radius: 10px;
            height: 500px;
            background-image: url("/images/Home.png");
            background-size: cover;
        }

        #resourcesButton {
            border: 1px solid white;
            border-radius: 20px;
            margin: 300px 100px auto 590px;
            padding: 10px 30px;
            background-color: rgba(255, 255, 255, 0.1);
            color: white;
            font-size: 3vh;
            transition: all 0.3s ease;
        }

        #resourcesButton:hover {
            box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.8);
            transform: translateY(-3px);
        }
        .contributeContent {
            width: 60%;
            height: 400px;
            margin-right: 5%;
            margin-bottom: 20px;
            float: right;
            background-image: url("/images/Contribute.png");
            background-size: cover;
            border-radius: 10px;
            text-align: center;
        }
        #contributeButton {
            border: 1px solid white;
            border-radius: 20px;
            margin-top: 30%;
            padding: 10px 30px;
            background-color: rgba(255, 255, 255, 0.1);
            color: white;
            font-size: 3vh;
            transition: all 0.3s ease;
        }
        #contributeButton:hover {
            box-shadow: 0px 1px 10px rgba(255, 255, 255, 0.8);
            transform: translateY(-3px);
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-expand-lg border-bottom border-body" style="padding-right: 10px; padding-left: 10px;">
        <div class="container-fluid">
            <img src="/images/Logo.png" alt="Logo" height="60px" width="220px">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav" style="margin-left: auto;">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/resources">Resources</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                    <% if (user !=undefined ) { %>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <%= user.name %>
                            </a>
                            <ul class="dropdown-menu">
                                <% if (user.userType=="CUSTOMER" ) { %>
                                    <li><a class="dropdown-item" href="/profile">Profile</a></li>
                                    <li><a class="dropdown-item" onclick="logout()" style="cursor:pointer;">Logout</a>
                                    </li>
                                    <% } %>
                            </ul>
                        </li>
                        <% } else { %>
                            <li class="nav-item">
                                <a class="nav-link" href="/login">Login</a>
                            </li>
                            <% } %>

                </ul>
            </div>
        </div>
    </nav>

    <div class="alert alert-success alert-dismissible fade show" role="alert" id="message"
        style="display: none; text-align: center; width: 80%; margin: auto;">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="warning"
        style="display: none; text-align: center; width: 80%; margin: auto;">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="error"
        style="display: none; text-align: center; width: 80%; margin: auto;">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="resourcesContent">
        <a href="/resources"><button id="resourcesButton">RESOURCES</button></a><br>
    </div>
    <div class="contributeContent">
        <button id="contributeButton" onclick="addResources()">Contribute</button>
    </div>
    <script>
        const message = sessionStorage.getItem('message');
        if (message) {
            document.getElementById('message').style.display = "block";
            document.getElementById('message').textContent = message;
            sessionStorage.removeItem('message');
        }
        const warning = sessionStorage.getItem('warning');
        if (warning) {
            document.getElementById('warning').style.display = "block";
            document.getElementById('warning').textContent = warning;
            sessionStorage.removeItem('warning');
        }
        const error = sessionStorage.getItem('error');
        if (error) {
            document.getElementById('error').style.display = "block";
            document.getElementById('error').textContent = error;
            sessionStorage.removeItem('error');
        }
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".alert").alert('close');
            }, 4000);
        });
        async function addResources() {
            try {
                const response = await fetch("/addResources")
                if (response.ok) {
                    const data = await response.json()
                    window.location.href = data.redirectTo;
                }
                else {
                    const data = await response.json()
                    sessionStorage.setItem('warning', data.warning);
                    window.location.href = data.redirectTo
                }
            } catch (error) {
                console.log(error)
            }
        }
    </script>
</body>
</body>

</html>