<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes Vault</title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <style>
        .login-outer {
            width: 40%;
            margin: auto;
            margin-top: 10vh;
            padding: 50px;
            border: 1px solid grey;
            border-radius: 10px;
        }

        #login,
        #signup {
            width: 80%;
            margin: auto;
            margin-top: 30px;
        }

        @media screen and (max-width: 900px) {
            .login-outer {
                width: 70%;
            }
        }

        @media screen and (max-width: 700px) {
            .login-outer {
                width: 90%;
            }

            #login,
            #signup {
                width: 100%;
            }
        }

        .btn-group {
            width: 60%;
            margin: auto;
        }

        .btn {
            width: 50%;
            margin: auto;
        }

        .center-align-button {
            text-align: center;
        }

        .mainbody {
            padding-top: 100px;
        }

        .alert {
            width: 80%;
            margin: auto;
            text-align: center;
        }

        .circular-buffer {
            width: 40px;
            height: 40px;
            margin: auto;
            border-top: 2px solid black;
            border-radius: 100%;
            position: relative;
            animation: circularMove 0.5s linear infinite;
        }

        @keyframes circularMove {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg border-bottom border-body fixed-top"
        style="padding: 10px; background-color: white;">
        <div class="container-fluid">
            <img src="/images/Logo.png" alt="Logo" height="60px" width="220px">
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav" style="margin-left: auto;">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/subject_catalog">Resources</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="mainbody">
        <% if (server_message) { %>
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                <div aria-hidden="true">
                    <%= server_message %>
                </div>
            </div>
            <% } %>
                <div id="message"></div>
                <div class="login-outer">
                    <div class="center-align-button">
                        <div class="btn-group">
                            <button class="btn btn-outline-dark active" id="signInBtn" onclick="displaySignIn()">Sign
                                In</button>
                            <button class="btn btn-outline-dark" id="signUpBtn" onclick="displaySignUp()">Sign
                                Up</button>
                        </div>
                    </div>
                    <div id="login">
                        <form id="loginForm" action="/login_user" method="post">
                            <div class="mb-3">
                                <label for="userId" class="form-label">Username</label>
                                <input type="text" id="userId" name="userId" class="form-control"
                                    style="border: 1px solid grey;">
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" id="password" name="password" class="form-control"
                                    style="border: 1px solid grey;">
                            </div>
                            <div class="center-align-button" style="margin-top: 40px;">
                                <button type="submit" class="btn btn-dark" id="signinSubmit">Submit</button>
                                <div class="circular-buffer" id="signin_buffer" style="display: none;"></div>
                            </div>
                        </form>
                    </div>
                    <div id="signup" style="display: none;">
                        <form id="signupForm" action="/signup_user" method="post">
                            <div class="mb-3">
                                <label for="name" class="form-label">Name</label>
                                <input type="text" id="name" name="name" class="form-control"
                                    style="border: 1px solid grey;" onkeyup="checkName()">
                                <span id="namemessage"></span>
                            </div>
                            <div class="mb-3">
                                <label for="userId" class="form-label">Username</label>
                                <input type="text" id="signupuserId" name="userId" class="form-control"
                                    style="border: 1px solid grey;" onkeyup="checkUsername()">
                                <span id="signup_useridmessage"></span>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" id="signuppassword" name="password" class="form-control"
                                    style="border: 1px solid grey;" onkeyup="checkPassword()">
                                <span id="signup_passwordmessage"></span>
                            </div>
                            <div class="center-align-button">
                                <button type="submit" class="btn btn-dark" id="signupSubmit"
                                    style="margin-top: 40px;">Submit</button>
                                <div class="circular-buffer" id="signup_buffer" style="display: none;"></div>
                            </div>
                        </form>
                    </div>
                </div>
    </div>

    <script>
        function checkName() {
            const name = document.getElementById("name").value;
            if (name.length == 0) {
                document.getElementById("namemessage").innerHTML = "Name cannot be null";
                document.getElementById("namemessage").classList.add("text-danger")
                document.getElementById("signupSubmit").classList.add("disabled")
            }
            else if (name.length > 30) {
                document.getElementById("namemessage").innerHTML = "Name should be less than 30 characters";
                document.getElementById("namemessage").classList.add("text-danger")
                document.getElementById("signupSubmit").classList.add("disabled")
            }
            else {
                document.getElementById("namemessage").innerHTML = "";
                document.getElementById("signupSubmit").classList.remove("disabled")
            }
        }
        function checkUsername() {
            const username = document.getElementById("signupuserId").value;
            if (username.length == 0) {
                document.getElementById("signup_useridmessage").innerHTML = "Username cannot be null";
                document.getElementById("signup_useridmessage").classList.add("text-danger")
                document.getElementById("signupSubmit").classList.add("disabled")
            }
            else if (username.length > 30) {
                document.getElementById("signup_useridmessage").innerHTML = "Username should be less than 30 characters";
                document.getElementById("signup_useridmessage").classList.add("text-danger")
                document.getElementById("signupSubmit").classList.add("disabled")
            }
            else {
                document.getElementById("signup_useridmessage").innerHTML = "";
                document.getElementById("signupSubmit").classList.remove("disabled")
            }
        }
        function checkPassword() {
            const password = document.getElementById("signuppassword").value;
            if (password.length == 0) {
                document.getElementById("signup_passwordmessage").innerHTML = "Password cannot be null";
                document.getElementById("signup_passwordmessage").classList.add("text-danger")
                document.getElementById("signupSubmit").classList.add("disabled")
            }
            else if (password.length < 8 || password.length > 16) {
                document.getElementById("signup_passwordmessage").innerHTML = "Password length should be 8 to 16 characters";
                document.getElementById("signup_passwordmessage").classList.add("text-danger")
                document.getElementById("signupSubmit").classList.add("disabled")
            }
            else {
                document.getElementById("signup_passwordmessage").innerHTML = "";
                document.getElementById("signupSubmit").classList.remove("disabled")
            }
        }
        function displaySignIn() {
            document.getElementById('message').style.display = "none";
            document.getElementById("signup").style.display = "none";
            document.getElementById("login").style.display = "block";
            document.getElementById('signUpBtn').classList.remove('active');
            document.getElementById('signInBtn').classList.add('active');
        }
        function displaySignUp() {
            document.getElementById('message').style.display = "none";
            document.getElementById("login").style.display = "none";
            document.getElementById("signup").style.display = "block";
            document.getElementById('signInBtn').classList.remove('active');
            document.getElementById('signUpBtn').classList.add('active');
        }
        const message = sessionStorage.getItem('message');
        if (message) {
            const alertDiv = document.createElement("div");
            alertDiv.className = "alert alert-success alert-dismissible fade show";
            alertDiv.role = "alert";
            alertDiv.innerHTML = `${message}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`;
            document.getElementById("message").appendChild(alertDiv);
            sessionStorage.removeItem('message');
        }
        const warning = sessionStorage.getItem('warning');
        if (warning) {
            const alertDiv = document.createElement("div");
            alertDiv.className = "alert alert-warning alert-dismissible fade show";
            alertDiv.role = "alert";
            alertDiv.innerHTML = `${warning}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`;
            document.getElementById("message").appendChild(alertDiv);
            sessionStorage.removeItem('warning');
        }
        const error = sessionStorage.getItem('error');
        if (error) {
            const alertDiv = document.createElement("div");
            alertDiv.className = "alert alert-danger alert-dismissible fade show";
            alertDiv.role = "alert";
            alertDiv.innerHTML = `${error}<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`;
            document.getElementById("message").appendChild(alertDiv);
            sessionStorage.removeItem('error');
        }
        document.getElementById("loginForm").addEventListener("submit", async function (event) {
            event.preventDefault();
            document.getElementById("signinSubmit").style.display = "none";
            document.getElementById("signin_buffer").style.display = "block";
            const formData = new FormData(event.target)
            try {
                const response = await fetch("/login_user", {
                    method: "POST",
                    body: formData
                })
                const data = await response.json()
                if (response.ok) {
                    if (data.message) {
                        sessionStorage.setItem('message', data.message);
                        window.location.href = data.redirectTo;
                    }
                }
                else {
                    if (data.error) {
                        sessionStorage.setItem('error', data.error);
                        window.location.reload();
                    }
                    if (data.warning) {
                        sessionStorage.setItem('warning', data.warning);
                        window.location.reload();
                    }
                }
            } catch (error) {
                sessionStorage.setItem('error', "Error: Cannot send Request to Server")
                window.location.reload();
                console.log(error)
            }
        })
        document.getElementById("signupForm").addEventListener("submit", async function (event) {
            event.preventDefault();
            document.getElementById("signupSubmit").style.display = "none";
            document.getElementById("signup_buffer").style.display = "block";
            const formData = new FormData(event.target)
            try {
                const response = await fetch("/signup_user", {
                    method: "POST",
                    body: formData
                })
                const data = await response.json()
                if (response.ok) {
                    if (data.message) {
                        sessionStorage.setItem('message', data.message);
                        window.location.href = data.redirectTo;
                    }
                }
                else {
                    if (data.error) {
                        sessionStorage.setItem('error', data.error);
                        window.location.reload();
                    }
                    if (data.warning) {
                        sessionStorage.setItem('warning', data.warning);
                        window.location.reload();
                    }
                }
            } catch (error) {
                sessionStorage.setItem('error', "Error: Cannot send Request to Server")
                window.location.reload();
                console.log(error)
            }
        })
    </script>
</body>

</html>