<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resources</title>
</head>
<body>
    <p>This is resources page</p>
    <% subjects.forEach(subject => { %>
        <a href="resources/subject/<%= subject %>"><li><%= subject %></li></a>
    <% }) %>
</body>
</html>