<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subject</title>
</head>
<body>
    <p>This is subject page</p>
    <% files.forEach(file => { %>
        <a href="<%= file.subject_name %>/<%= file._id %>">
            <div>
                <h3><%= file.file_name %></h3>
                <p><%= file.description %></p>
            </div> 
        </a>
    <% }) %>
</body>
</html>